.vehicle-container {
    max-width: 420px;
    margin: 0 auto;
    margin-top: 40px;
}

.vehicle-form-button {
    width: 100%;
    margin-top: 15px;
}

    .vehicle-form-button[disabled], .vehicle-form-button[disabled]:hover, .vehicle-form-button[disabled]:focus {
        opacity: 0.6;
        color: #fff;
        background-color: #1890ff;
        border-color: #1890ff;
    }

.vehicle-form input {
    margin-bottom: 3px;
}
