.linkuser-container {
    max-width: 420px;
    margin: 0 auto;
    margin-top: 40px;
}

.linkuser-form-button {
    width: 100%;
    margin-top: 15px;
}

.linkuser-form-button[disabled], .linkuser-form-button[disabled]:hover, .linkuser-form-button[disabled]:focus {
    opacity: 0.6;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
}

.linkuser-form input {
    margin-bottom: 3px;
}
